.jenkins
  &__view
    &__job
      &__build
        &__status
          font-size 1.6em
          &--success
            color $success-color
          &--unknown
            color $unknown-color
          &--failure
            color $failure-color
        &__colored_status
          font-size 1.6em
          &--success
            background-color $success-color
          &--unknown
            background-color $unknown-color
          &--failure
            background-color $failure-color
