@require "_view.styl"

.jenkins
  &__job-builds_histogram
    .result--unknown
      fill $unknown-color
    .result--aborted
      fill $unknown-color
    .result--success
      fill $success-color
    .result--failure
      fill $failure-color

  &__job
    position relative
    padding 7px 15px 7px 35px

    &:before
      content " "
      display block
      width  12px
      height 12px
      position absolute
      top  14px
      left 12px
      border-radius 100%
      background-color #000

    &__status
      position absolute
      left 15px

    &__number
      color darken($main-txt-color, 20)
      margin-right 7px

    &--success
      &:before
        background-color $success-color

    &--failure
      &:before
        background-color $failure-color

    time
      font-size 12px
      display inline-block
      color darken($main-txt-color, 20)

  &__job-status
    .widget__body
      padding-bottom 30px

    &__current
      margin 40px 0 0 50px
      &__status
        font-size 28px
        line-height 32px
        &--success
          color $success-color

        &--failure
          color $failure-color

      &__time
        font-size 13px
        color darken($main-txt-color, 20)

    &__previous
      position absolute
      left   0
      bottom 10px
      height      24px
      line-height 24px
      padding 0 15px
      font-size 13px
      color darken($main-txt-color, 20)

.widget
  &__body
    &__colored
      display flex
      width 100%
      height 100%
      text-align center  
      & .jenkins
        &__job-status
          &__current
            margin auto
